* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1112_91 {
  width: 100%;
  height: 1893px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1112_92 {
  width: 100%;
  height: 359px;
  background: rgba(62,160,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1112_93 {
  width: 338px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 41px;
  left: 491px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v1112_94 {
  width: 801px;
  height: 100px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 293px;
  overflow: hidden;
}
.v1112_99 {
  width: 171px;
  height: 26px;
  background: url("../images/v1112_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 339px;
  overflow: hidden;
}
.v1112_95 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_98 {
  width: 20px;
  height: 20px;
  background: url("../images/v1112_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v1112_96 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1112_97 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1112_100 {
  width: 171px;
  height: 26px;
  background: url("../images/v1112_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 590px;
  overflow: hidden;
}
.v1112_101 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_102 {
  width: 20px;
  height: 20px;
  background: url("../images/v1112_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v1112_103 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1112_104 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1112_110 {
  width: 171px;
  height: 26px;
  background: url("../images/v1112_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 841px;
  overflow: hidden;
}
.v1112_111 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_112 {
  width: 20px;
  height: 20px;
  background: url("../images/v1112_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v1112_113 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1112_114 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1122_91 {
  width: 238px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 16px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v1112_121 {
  width: 602px;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 217px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1112_129 {
  width: 507px;
  height: 114px;
  background: url("../images/v1112_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 264px;
  overflow: hidden;
}
.v1112_124 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_127 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_128 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_125 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_126 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_123 {
  width: 88px;
  height: 104px;
  background: url("../images/v1112_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1112_130 {
  width: 507px;
  height: 114px;
  background: url("../images/v1112_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 264px;
  overflow: hidden;
}
.v1112_131 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_132 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_133 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_134 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_135 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_136 {
  width: 88px;
  height: 104px;
  background: url("../images/v1112_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1112_138 {
  width: 507px;
  height: 114px;
  background: url("../images/v1112_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 264px;
  overflow: hidden;
}
.v1112_139 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_140 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_141 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_142 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_143 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_144 {
  width: 88px;
  height: 104px;
  background: url("../images/v1112_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1112_160 {
  width: 507px;
  height: 114px;
  background: url("../images/v1112_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 839px;
  left: 264px;
  overflow: hidden;
}
.v1112_161 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_162 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_163 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_164 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_165 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_166 {
  width: 88px;
  height: 104px;
  background: url("../images/v1112_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1112_167 {
  width: 507px;
  height: 114px;
  background: url("../images/v1112_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1023px;
  left: 268px;
  overflow: hidden;
}
.v1112_168 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_169 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_170 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_171 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_172 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1112_173 {
  width: 88px;
  height: 104px;
  background: url("../images/v1112_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1113_186 {
  width: 507px;
  height: 114px;
  background: url("../images/v1113_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1207px;
  left: 268px;
  overflow: hidden;
}
.v1113_187 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_188 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_189 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_190 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1113_191 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1113_192 {
  width: 88px;
  height: 104px;
  background: url("../images/v1113_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1113_193 {
  width: 507px;
  height: 114px;
  background: url("../images/v1113_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1391px;
  left: 268px;
  overflow: hidden;
}
.v1113_194 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_195 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_196 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_197 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1113_198 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1113_199 {
  width: 88px;
  height: 104px;
  background: url("../images/v1113_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1113_200 {
  width: 507px;
  height: 114px;
  background: url("../images/v1113_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1575px;
  left: 268px;
  overflow: hidden;
}
.v1113_201 {
  width: 117px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_202 {
  width: 81px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_203 {
  width: 24px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 30px;
  left: 396px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_204 {
  width: 71px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 65px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1113_205 {
  width: 44px;
  color: rgba(73,80,87,1);
  position: absolute;
  top: 37px;
  left: 106px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1113_206 {
  width: 88px;
  height: 104px;
  background: url("../images/v1113_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1112_122 {
  width: 106px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 297px;
  left: 264px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1112_157 {
  width: 369px;
  height: 593px;
  background: url("../images/v1112_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 853px;
  overflow: hidden;
}
.v1112_155 {
  width: 369px;
  height: 72px;
  background: url("../images/v1112_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 0px;
  overflow: hidden;
}
.v1112_153 {
  width: 369px;
  height: 72px;
  background: rgba(62,160,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1112_156 {
  width: 369px;
  height: 471px;
  background: url("../images/v1112_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1112_147 {
  width: 369px;
  height: 471px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1112_148 {
  width: 107px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 32px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1112_149 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_150 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 196px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_151 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 256px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_152 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_207 {
  width: 369px;
  height: 593px;
  background: url("../images/v1113_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 853px;
  overflow: hidden;
}
.v1113_208 {
  width: 369px;
  height: 72px;
  background: url("../images/v1113_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 0px;
  overflow: hidden;
}
.v1113_209 {
  width: 369px;
  height: 72px;
  background: rgba(62,160,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1113_210 {
  width: 369px;
  height: 471px;
  background: url("../images/v1113_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1113_211 {
  width: 369px;
  height: 471px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1113_212 {
  width: 107px;
  color: rgba(62,160,233,1);
  position: absolute;
  top: 32px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1113_213 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_214 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 196px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_215 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 256px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1113_216 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 39px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1112_154 {
  width: 143px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 804px;
  left: 966px;
  font-family: Orelega One;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
