* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}


.sidenav {
  height: 100%;  
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav1{
  height: 100%;  
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.sidenav1 a:hover {
  color: #f1f1f1;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.main {
  width: 100%;
  height: 2547px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute; 
  top: 0px;
  left: 0px;
  overflow: hidden;
}



.navbar {
  width: 100%;
  height: 731px;
  background: rgba(231,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.best {
  width: 395px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 241px;
  left: 60px;
  font-family: Inria Serif;
  font-weight: Light;
  font-size: 200px;
  opacity: 1;
  text-align: left;
}
.deal {
  width: 402px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 241px;
  left: 930px;
  font-family: Inria Serif;
  font-weight: Light;
  font-size: 200px;
  opacity: 1;
  text-align: left;
}
.tech {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 29px;
  left: 593px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.navbar-heading {
  width: 266px;
  height: 28px;
  background: url("./v1141_1598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 53px;
  overflow: hidden;
  display: block;
}


.home {
  width: 42px;
  color: #1e1e1e;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  cursor: pointer;

}
.add {
  width: 77px;
  color: #1e1e1e;
  position: absolute;
  top: 0px;
  left: 93px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
/* .home2 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 224px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
} */
.bar {
  width: 39px;
  height: 3px;
  background: #1e1e1e;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1px;
  overflow: hidden;
  cursor: pointer;
}

.productheading{
  position: relative;
  z-index: 2;
  margin-top: 749px;
  text-align: center;
}

.iphonegroup {
  width: 659px;
  height: 628px;
  background: url("../Images/iphonegroup.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 347px;
  overflow: hidden;
}
.applelogo {
  width: 164px;
  height: 202px;
  background: url("../Images/applelogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -295px;
  left: 589px;
  overflow: hidden;
}
.profile {
  width: 22px;
  height: 19px;
  background: url("../Images/profile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 1263px;
  overflow: hidden;
  cursor: pointer;
}
.search {
  width: 25px;
  height: 25px;
  background: url("../Images/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /* position: absolute; */
  position: fixed;
  z-index: 2;
  top: 37px;
  left: 1214px;
  overflow: hidden;
  cursor: pointer;
}

.searchInput{
  width: 105px;
  height: 25px;
  opacity: 1;
  /* position: absolute; */
  top: 35px;
  left: 1030px;
  cursor: pointer;
  border-radius: 50px;
  position: fixed;
  z-index: 2;
}
.searchInput > input {
  border: 1px solid;
  border-radius: 50px;
  padding: 5px;
  z-index: 2;

}

.product-section{
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;
  /* z-index: 1; */
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.card{
  margin-top: 50px;
  /* height: 0px; */
  border: none;margin-left: 20px;
}


.menu1{
  background-color: black;
  width: 20px;
  position: absolute;
  z-index: 1;
}

